/aisd_lab_1_sorting/target/
/aisd_lab_1_sorting/nbproject/
/aisd_lab5_rbt/target/
/aisd_lab_8_surprise/nbproject/
/aisd_lab_8_surprise/target/
.idea
/aisd_lab_9_longest_common_subsequence/target/
/aisd_lab_11_min_spannig_tree/target/
